.owge.card {
    img {
        width: 60px !important;
        height: 46px !important;
    }

    .upgrade-level {
        text-align: center;
        font-size: 9pt;
    }
}

.fast-upgrade-div {
    text-align: center;
    .fast-upgrade {
        color: red;
        font-size: 15pt;
        &.available {
            color: green;
        }
    }
}