<div *ngIf="unitRequirements" class="owge-card-list" >
  <ng-container *ngFor="let unit of unitRequirements">
    <owge-widgets-display-list-item *ngIf="isOfUnitTypeOrNullFilter(unit.unit)" [itemName]="unit.unit.name" [hideDesktopSections]="[0,0,1]" [image]="unit.unit.image | dynamicImage"
      [classes]="{ 'owge-green-shadow' : unit.allReached, 'owge-red-shadow' : !unit.allReached}"
    >
      <ng-template owgeCoreContent [select]="'extra-section'">
        <div class="owge-card-list">
          <div class="owge card" *ngFor="let upgradeRequirement of unit.requirements" [ngClass]="{ 'owge-green-shadow' : upgradeRequirement.reached, 'owge-red-shadow' : !upgradeRequirement.reached}">
            <img [src]="upgradeRequirement.upgrade.imageUrl" />
            <div class="upgrade-level">Lvl {{ upgradeRequirement.level }}</div>
          </div>
        </div>
      </ng-template>
    </owge-widgets-display-list-item>
  </ng-container>
</div>