<div *ngIf="unitRequirements" class="owge-card-list" >
  <ng-container *ngFor="let unit of unitRequirements">
    <owge-widgets-display-list-item *ngIf="isOfUnitTypeOrNullFilter(unit.unit)" [itemName]="unit.unit.name" [hideDesktopSections]="[0,0,1]" [image]="unit?.unit?.imageUrl"
      [classes]="{ 'owge-green-shadow' : unit.allReached, 'owge-red-shadow' : !unit.allReached}"
    >
      <ng-template owgeCoreContent [select]="'extra-section'">
        <div class="owge-card-list">
          <div class="owge card" *ngFor="let upgradeRequirement of unit.requirements" [ngClass]="{ 'owge-green-shadow' : upgradeRequirement.reached, 'owge-red-shadow' : !upgradeRequirement.reached}">
            <img [src]="upgradeRequirement.upgrade.imageUrl" />
            <div class="upgrade-level">Lvl {{ upgradeRequirement.level }}</div>
            <div class="fast-upgrade-div">
              <a href="javascript:void(0)" *ngIf="!runningUpgrade || runningUpgrade.upgrade.id !== upgradeRequirement.upgrade.id" (click)="clickLevelUp(upgradeRequirement.upgrade)" class="fast-upgrade" [class.available]="!runningUpgrade && obtainedUpgrades[upgradeRequirement.upgrade.id].requirements.runnable">
                <i class="fa fa-flask"></i>
              </a>
              <owge-widgets-circular-percentage *ngIf="runningUpgrade && runningUpgrade.upgrade.id === upgradeRequirement.upgrade.id" (click)="cancelLevelUp()" [percentage]="runningUpgrade.completedPercentage" [size]="30">
                <i  class="fa fa-flask"></i>
              </owge-widgets-circular-percentage>
            </div>
          </div>
        </div>
      </ng-template>
    </owge-widgets-display-list-item>
  </ng-container>
</div>