<owge-widgets-confirmation-dialog 
  (confirmResult)="cancelBuild($event)" 
  [i18nTitle]="'APP.UNITS.DISPLAY_SINGLE.BUILD.CANCEL_TITLE'"
  [i18nText]="'APP.UNITS.DISPLAY_SINGLE.BUILD.CANCEL_TEXT'"
></owge-widgets-confirmation-dialog>
<ng-container *ngIf="userData && unit && unitTypes">
  <owge-widgets-display-list-item [itemName]="unit.name" [itemDescription]="unit.description" 
    [image]="unit.imageUrl" [hideDesktopSections]="[0,0, isCompactView]"
    [hasToDisplayCountdown]="building && building.unit.id === unit.id && building.pendingMillis"
    [countdownDate]="building && building.browserComputedTerminationDate"
  >
    <ng-template owgeCoreContent select="extra-section">
      <a class="btn" (click)="selectedView = 'requirements'"
    [ngClass]="{ 'selected-menu': selectedView === 'requirements'}">{{ 'APP.UNITS.DISPLAY_SINGLE.REQUIREMENTS' | translate }}</a>
      <a class="btn" (click)="selectedView = 'attributes'"
        [ngClass]="{ 'selected-menu': selectedView === 'attributes'}">{{ 'APP.UNITS.DISPLAY_SINGLE.ATTRIBUTES' | translate }}</a>
      <a class="btn" *ngIf="unit.improvement" (click)="selectedView = 'improvements'"
        [ngClass]="{ 'selected-menu': selectedView === 'improvements'}">{{ 'APP.UNITS.DISPLAY_SINGLE.IMPROVEMENTS' | translate }}</a>
      <app-display-requirements *ngIf="selectedView === 'requirements'" [requirements]="unit.requirements">
      </app-display-requirements>
      <ng-container *ngIf="selectedView === 'attributes'">
        <owge-widgets-display-improved-attribute *ngIf="unit.health" [name]="'Health'" [value]="unit.health"
          [assetsImage]="true" [image]="'hearth.png'" [improvementPercentage]="moreHealth"></owge-widgets-display-improved-attribute>
        <owge-widgets-display-improved-attribute *ngIf="unit.shield" [name]="'Shield'" [value]="unit.shield"
          [assetsImage]="true" [image]="'shield.png'" [improvementPercentage]="moreShield"></owge-widgets-display-improved-attribute>
        <owge-widgets-display-improved-attribute *ngIf="unit.attack" [name]="'Attack'" [value]="unit.attack"
          [assetsImage]="true" [image]="'sword.png'" [improvementPercentage]="moreAttack"></owge-widgets-display-improved-attribute>
        <owge-widgets-display-improved-attribute *ngIf="unit.charge" [name]="'Charge'" [value]="unit.charge"
          [assetsImage]="true" [image]="'carry.png'" [improvementPercentage]="moreCharge"></owge-widgets-display-improved-attribute>
        <owge-widgets-display-improved-attribute [icon]="'fa fa-tachometer-alt'" [name]="'Speed'" [value]="unit.speed"></owge-widgets-display-improved-attribute>
      </ng-container>
      <owge-widgets-display-improvements *ngIf="selectedView === 'improvements'" 
        [improvement]="unit.improvement" [prImage]="userData.faction.primaryResourceImageUrl" 
        [srImage]="userData.faction.secondaryResourceImageUrl" [energyImage]="userData.faction.energyImageUrl"
      ></owge-widgets-display-improvements>
    </ng-template>
    
    <ng-template owgeCoreContent select="action-buttons">
      <ng-container *ngIf="withBuildMode">
        <ng-container *ngIf="building && building.unit.id === unit.id">
          <ng-template owgeCoreIfDesktop>
            <div class="in-planet-count">
              <h5>{{ 'APP.UNITS.DISPLAY_SINGLE.NUMBER' | translate }}:</h5>
              <h5> {{ building.count }}</h5>
            </div>
          </ng-template>
        </ng-container>
        <a owgeUniverseOnClickIfWsConnected class="btn btn-block do-cancel" *ngIf="building && building.unit.id === unit.id" role="button" (clickAndConnected)="confirmDialog.show()">{{ 'APP.UNITS.DISPLAY_SINGLE.BUILD.CANCEL' | translate }}</a>
        <a owgeUniverseOnClickIfWsConnected *ngIf="building && building.unit.id !== unit.id" class="btn btn-block" role="button"
          (clickAndConnected)="otherUnitAlreadyRunning()">---</a>
        <ng-container *ngIf="!building">
          <input type="number" name="count" [(ngModel)]="count" [placeholder]="'APP.UNITS.DISPLAY_SINGLE.BUILD.COUNT' | translate" min="0" />
          <a owgeUniverseOnClickIfWsConnected *ngIf="canBuild() && isValidCount() && count >= 1" class="btn btn-block do-build" role="button"
            (clickAndConnected)="buildSelectedUnit()">{{ 'APP.UNITS.DISPLAY_SINGLE.BUILD.BTN_BUILD' | translate }}</a>
          <a owgeUniverseOnClickIfWsConnected *ngIf="canBuild() && count && !isValidCount()" class="btn btn-block" role="button" (clickAndConnected)="count = 1">Error (report it!)</a>
          <a owgeUniverseOnClickIfWsConnected *ngIf="!count" class="btn btn-block" role="button" (clickAndConnected)="count = 1">{{ 'APP.UNITS.DISPLAY_SINGLE.MIN_ONE' | translate }}</a>
          <a owgeUniverseOnClickIfWsConnected *ngIf="!canBuild()" class="btn btn-block" role="button" (clickAndConnected)="noResources()">{{ 'APP.UNITS.DISPLAY_SINGLE.BUILD.NO_RESOURCES' | translate }}</a>
        </ng-container>
      </ng-container>
    
      <ng-container *ngIf="withInPlanetMode">
        <ng-template owgeCoreIfDesktop>
          <div class="in-planet-count">
            <h5>{{ 'APP.UNITS.DISPLAY_SINGLE.NUMBER' | translate }}:</h5>
            <h5> {{ inPlanetCount }}</h5>
          </div>
        </ng-template>
        <input class="number-to-delete" type="number" [(ngModel)]="numberToDelete" [placeholder]="'APP.UNITS.DISPLAY_SINGLE.DELETE' | translate" [min]="0"
          [max]="inPlanetCount" />
        <a owgeUniverseOnClickIfWsConnected class="btn delete" [ngClass]="{ 'disabled': !isValidDeletion()}" (clickAndConnected)="deleteUnits()">{{ 'APP.UNITS.DISPLAY_SINGLE.DELETE' | translate }}</a>
      </ng-container>
    </ng-template>
    <ng-template owgeCoreContent select="image-container-prepend">
      <ng-template owgeCoreIfDesktop [negate]="true">
        <div *ngIf="withInPlanetMode" class="in-planet-count-mobile">{{ inPlanetCount }}</div>
        <div *ngIf="withBuildMode && building && building.unit.id === unit.id"> {{ building.count }}</div>
      </ng-template>
    </ng-template>
  </owge-widgets-display-list-item> 
</ng-container>