<app-modal #missionModal>
  <div class="header">
    Send mission to planet {{ selectedPlanet | planetDisplayName }}
  </div>
  <div class="body">
    <span>Mission type:</span>
    <select *ngIf="selectedPlanet" [(ngModel)]="missionType">
      <option [ngValue]="null">None</option>
      <option value="EXPLORE">Explore</option>
      <option *ngIf="isExplored(selectedPlanet)" value="GATHER">Gather</option>
      <option *ngIf="isExplored(selectedPlanet)" value="ESTABLISH_BASE">Establish base</option>
      <option *ngIf="isExplored(selectedPlanet) && !planetIsMine(selectedPlanet)" value="ATTACK">Attack</option>
      <option *ngIf="isExplored(selectedPlanet) && planetIsMine(selectedPlanet)" value="COUNTERATTACK">Counterattack</option>
      <option *ngIf="isExplored(selectedPlanet) && planetIsMine(selectedPlanet)" value="DEPLOY">Deploy</option>
      <option *ngIf="isExplored(selectedPlanet) && !planetIsMine(selectedPlanet) && selectedPlanet.ownerId && !selectedPlanet.home"
        value="CONQUEST">Conquest</option>
    </select>
    <div class="unit-selection">
      <app-deployed-units-list [obtainedUnits]="obtainedUnits" [selectable]="true" (selection)="selectedUnits = $event"></app-deployed-units-list>
    </div>
  </div>
  <div class="footer">
    <button (click)="sendMission()" [disabled]="!areUnitsSelected() || !missionType" class="btn-primary btn-send-mission">Send mission</button>
  </div>
</app-modal>
<ng-container *ngIf="navigationData">
  <div class="card sgt-quadrant" *ngFor="let planet of navigationData.planets">
    <div class="card-block">
      <h5 class="card-title">
        <i *ngIf="planet.home" class="fa fa-home"></i> {{ planet | planetDisplayName }}</h5>
    </div>
    <img class="card-img-top planet-image" src="{{ findImage(planet) }}" alt="image of the planet">
    <div class="card-block">
      <p class="card-text planet-actions">
        <img [src]="findUiIcon('mission.png')" title="Enviar misión" (click)="showMissionDialog(planet)" />
      </p>
    </div>
  </div>
</ng-container>