<owge-core-loading [isReady]="buildingUnit !== undefined" [ngClass]="{ 'compact-view' : isCompactView}">
  <ng-container *ngIf="unlockedUnits !== undefined">
    <div *ngIf="!unlockedUnits.length" class="owge-base-colors">You can't build any unit for now, please check the
      requirements
      tab
    </div>
    <ng-container *ngFor="let unit of unlockedUnits">
      <app-display-single-unit *ngIf="isOfUnitTypeOrNullFilter(unit)" [isCompactView]="isCompactView" [unit]="unit" [withBuildMode]="true" [building]="buildingUnit"
        (buildDone)="buildingUnit = null" [defaultView]="'requirements'"></app-display-single-unit>
    </ng-container>
  </ng-container>
</owge-core-loading>