<div class="form-group col-md-6">
    <label for="pr-cost">{{ 'CRUD.RESOURCE_REQUIREMENT.PR' | translate }}</label><br>
    <input type="number" id="pr-cost" class="form-control" [(ngModel)]="el.primaryResource"/>
</div>
<div class="form-group col-md-6">
    <label for="sr-cost">{{ 'CRUD.RESOURCE_REQUIREMENT.SR' | translate }}</label><br>
    <input type="number" id="sr-cost" class="form-control" [(ngModel)]="el.secondaryResource"/>
</div>
<div *ngIf="!isEnergyHidden" class="form-group col-md-6">
    <label for="energy-cost">{{ 'CRUD.RESOURCE_REQUIREMENT.ENERGY' | translate }}</label><br>
    <input type="number" id="energy-cost" class="form-control" [(ngModel)]="el.energy"/>
</div>
<div class="form-group col-md-6">
    <label for="sr-cost">{{ 'CRUD.RESOURCE_REQUIREMENT.TIME' | translate }}</label><br>
    <input type="number" id="sr-cost" class="form-control" [(ngModel)]="el.time"/>
</div>
<div class="form-group col-md-6">
    <label for="energy-cost">{{ 'CRUD.RESOURCE_REQUIREMENT.POINTS' | translate }}</label><br>
    <input type="number" id="energy-cost" class="form-control" [(ngModel)]="el.points"/>
</div>
