<div class="owge-card-list">
    <owge-widgets-display-list-item *ngFor="let element of elements" [itemName]="element.name" [itemDescription]="element.description"  [image]="element.imageUrl"
        [hasToDisplayCountdown]="element.activeTimeSpecialDto?.state === 'ACTIVE' || element.activeTimeSpecialDto?.state === 'RECHARGE'"
        [countdownDate]="element.activeTimeSpecialDto?.browserComputedTerminationDate"
    >
        <ng-template owgeCoreContent select="extra-header">
            <div class="ts-state" *ngIf="element.activeTimeSpecialDto">
                <span class="active" *ngIf="element.activeTimeSpecialDto?.state === 'ACTIVE'">{{ 'TIME_SPECIAL.IS_ACTIVE' | translate}}</span>
                <span class="recharge" *ngIf="element.activeTimeSpecialDto?.state === 'RECHARGE'">{{ 'TIME_SPECIAL.IS_IN_RECHARGE' | translate}}</span>
            </div>
        </ng-template>

        <ng-template owgeCoreContent select="action-buttons">
            <a owgeUniverseOnClickIfWsConnected *ngIf="!element.activeTimeSpecialDto" class="btn btn-block" role="button" (clickAndConnected)="clickActivate(element.id)">{{ 'TIME_SPECIAL.BTN_ACTIVATE' | translate }}</a>
        </ng-template>
    </owge-widgets-display-list-item>
    <h5 *ngIf="elements && !elements.length" class="owge-title">{{ 'TIME_SPECIAL.NONE_UNLOCKED' | translate }}</h5>
</div>