<app-rules-modal *ngIf="unitType?.id" originType="UNIT_TYPE" [originId]="unitType.id" [displayName]="unitType?.name">

</app-rules-modal>
<app-common-crud-with-image [hasDescription]="false" [_crudService]="adminUnitTypeService"
    (elementSelected)="onSelectedOrNew($event)">
    <ng-template #modalBody let-newElement>
        <ng-container *ngIf="unitType">
            <div class="form-group col-md-6">
                <label for="max-amount-unlimited">{{ 'CRUD.UNIT_TYPE.SHARE_MAX_COUNT' | translate }} </label>
                <owge-widgets-id-name-dropdown [(model)]="unitType.shareMaxCount" [extraHtmlClass]="'form-control'"
                    [nullSelectionI18NName]="'CRUD.UNIT_TYPE.OWN_COUNT'" [elementsList]="unitTypesWithLimitedCount">
                </owge-widgets-id-name-dropdown>
            </div>

            <div class="form-group col-md-6">
                <label for="max-amount-unlimited">{{ 'CRUD.UNIT_TYPE.MAX_AMOUNT_UNLIMITED' | translate }} </label>
                <input [disabled]="unitType.shareMaxCount" type="checkbox" [(ngModel)]="isUnlimitedMaxAmount"
                    (ngModelChange)="onIsUnlimitedMaxAmountChange()" id="max-amount-unlimited" class="form-control" />
            </div>

            <div class="form-group col-md-6">
                <label for="max-amount">{{ 'CRUD.UNIT_TYPE.MAX_AMOUNT' | translate }} </label>
                <input [disabled]="unitType.shareMaxCount || isUnlimitedMaxAmount" type="number"
                    [(ngModel)]="unitType.maxCount" id="max-amount" class="form-control" />
            </div>

            <div class="form-group col-md-6">
                <label>{{ 'CRUD.UNIT_TYPE.PARENT' | translate }}</label>
                <owge-widgets-id-name-dropdown [(model)]="unitType.parent" [extraHtmlClass]="'form-control'"
                    [nullSelectionI18NName]="'CRUD.UNIT_TYPE.ROOT_TYPE'" [elementsList]="unitTypesForParentSelect">
                </owge-widgets-id-name-dropdown>
            </div>

            <div class="form-group">
                <label>{{ 'CRUD.ATTACK_RULE.LABEL' | translate }}</label>
                <app-attack-rule-crud [beforeDelete]="beforeAttackRuleDeleteBinded" [(attackRule)]="unitType.attackRule"
                    class="form-control"></app-attack-rule-crud>
            </div>

            <div class="form-group">
                <label>{{ 'CRUD.CRITICAL_ATTACK.LABEL' | translate }}</label>
                <app-critical-attack-crud [beforeDelete]="beforeCriticalAttackDeleteBinded"
                    [(criticalAttack)]="unitType.criticalAttack" class="form-control"></app-critical-attack-crud>
            </div>

            <app-can-do-missions-crud class="form-row" [element]="unitType">

            </app-can-do-missions-crud>

            <div class="form-group col-md-6">
                <label>{{ 'CRUD.UNIT_TYPE.SPEED_IMPACT_GROUP' | translate }}</label>
                <select class="form-control" [(ngModel)]="unitType.speedImpactGroup" [compareWith]="isSameObject">
                    <option [ngValue]="undefined">{{ 'CRUD.SELECT' | translate}} </option>
                    <option *ngFor="let speedImpactGroup of speedImpactGroups" [ngValue]="speedImpactGroup">{{
                        speedImpactGroup.name}}</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <button (click)="rulesModal.show()" class="btn">{{ 'CRUD.RULES.BTN_RULES' | translate }}</button>
            </div>
        </ng-container>
    </ng-template>
</app-common-crud-with-image>