<owge-core-modal #modal [hasCloseButton]="true">
    <div class="header">
        {{ 'APP.ADMIN_USERS.MODAL.TITLE' | translate }}
    </div>
    <div class="body">
        <select [(ngModel)]="selectedAdmin">
            <option [ngValue]="null">
                {{ 'APP.ADMIN_USERS.MODAL.SELECT_NULL' | translate}}
            </option>
            <option *ngFor="let current of available" [ngValue]="current">
                {{ current.username }}
            </option>
        </select>
    </div>
    <div class="footer">
        <a (click)="clickAdd()" class="btn btn-block">{{ 'APP.ADMIN_USERS.MODAL.BTN_ADD' | translate}}</a>
    </div>
</owge-core-modal>
<a (click)="selectedAdmin = null; modal.show()" role="button" class="btn btn-block owge-theme-base-colors">{{
    'APP.ADMIN_USERS.BTN_ADD_ADMIN' | translate}}</a>
<div class="content">
    <ng-container *ngFor="let user of added">
        <owge-widgets-display-list-item [itemName]="user.username" [itemDescription]="'Has admin privileges'">
            <ng-template owgeCoreContent select="action-buttons">
                <a (click)="clickDelete(user)" class="btn">{{ 'APP.ADMIN_USERS.BTN_DELETE' | translate }}</a>
            </ng-template>
        </owge-widgets-display-list-item>
    </ng-container>
</div>