<app-widget-confirmation-dialog #confirmDialog (confirmResult)="onDeleteConfirm($event)" [text]="vConfirmDeleteText">

</app-widget-confirmation-dialog>

<div *ngIf="alliance && currentUser" class="sgt card">
  <div class="card-block">
    <h5 class="card-title sgt-title">{{ alliance.name }}</h5>
  </div>
  <div class="card-block">
    <div class="card-text">
      <h5 class="sgt-card-header">{{ 'DESCRIPTION' | translate }}</h5>
      <div class="sgt-card-body">
        {{ alliance.description }}
      </div>
    </div>
  </div>
  <div class="card-block" *ngIf="members">
    <div class="card-text">
      <h5 class="sgt-card-header">{{ 'ALLIANCE.MEMBER_LIST' | translate }}</h5>
      <div class="sgt-card-body">
        <span *ngFor="let member of members"> {{ member.username }} </span>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <h5 class="sgt-card-header">{{ 'ALLIANCE.ACTIONS' | translate }}</h5>
      <div class="sgt-card-body">
        <div class="btn-group">
          <button (click)="clickLeave()" class="btn"
            *ngIf="alliance.id === currentUser.alliance?.id && alliance.owner !== currentUser.id">{{
            'ALLIANCE.ACTION_LEAVE' | translate }}</button>
          <button (click)="clickDelete()" class="btn"
            *ngIf="alliance.id === currentUser.alliance?.id && alliance.owner === currentUser.id">
            {{ 'ALLIANCE.ACTION_DELETE' | translate }}
          </button>
          <button (click)="clickRequestJoin()" class="btn" *ngIf="!currentUser.alliance">
            {{ 'ALLIANCE.ACTION_REQUEST_JOIN' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>