<app-modal #navigationModal>
  <div class="header">
    Select target planet
  </div>
  <div class="body">
    <app-display-quadrant></app-display-quadrant>
  </div>
</app-modal>
<app-loading [isReady]="runningUnitMissions" (ready)="onReady()">
  <ng-container *ngFor="let runningUnitMission of runningUnitMissions">
    <div #missionRoot class="card owge auto-expand"
      *ngIf="runningUnitMission.involvedUnits && runningUnitMission.involvedUnits.length">
      <span *ngIf="displayUser" class="display-user">{{ runningUnitMission.user | displayUsername }} </span>
      <span class="display-type">{{ runningUnitMission.type | displayMissionType }} </span>
      <i *ngIf="isCancellable && runningUnitMission.type !== 'RETURN_MISSION'"
        (click)="cancelMission(runningUnitMission)" class="fas fa-times"></i>
      <span class="display-time">
        <app-countdown *ngIf="runningUnitMission.terminationDate"
          [targetDate]="convertToDate(runningUnitMission.terminationDate)" (timeOver)="missionDone.emit()">
        </app-countdown>
      </span>
      <ng-template #tooltipPlanetComponent>
        <app-display-single-planet [planet]="tooltipPlanet"></app-display-single-planet>
      </ng-template>
      <div class="card-block">
        <div class="card-title">
          <span class="auto-expand">
            Mission from
            <a data-html="true" [ngbTooltip]="tooltipPlanetComponent" placement="bottom"
              (mouseenter)="tooltipPlanet = runningUnitMission.sourcePlanet"
              (mouseleave)="toolTipPlanet = null">{{ runningUnitMission?.sourcePlanet | planetDisplayName }}</a>
            to
            <a data-html="true" [ngbTooltip]="tooltipPlanetComponent" placement="bottom"
              (mouseenter)="tooltipPlanet = runningUnitMission.targetPlanet"
              (mouseleave)="toolTipPlanet = null">{{ runningUnitMission?.targetPlanet | planetDisplayName }}</a>

          </span>
        </div>
      </div>
      <div class="card-block">
        <h5>Involved units</h5>
        <app-deployed-units-list [obtainedUnits]="runningUnitMission.involvedUnits"></app-deployed-units-list>
      </div>

      <div class="card-block" *ngIf="isMovable && runningUnitMission.type === 'DEPLOYED'">
        <a class="btn btn-block" role="button" (click)="moveUnit(runningUnitMission)">Move units</a>
      </div>
    </div>
  </ng-container>
</app-loading>