<owge-widgets-choose-item-modal
    [isDisabled]="!isChanged || !editing?.name || !editing?.entries.length || !areEntriesValid"
    [i18nModalTitle]="'CRUD.CRITICAL_ATTACK.MODAL.TITLE'" [i18nNullValue]="'CRUD.ATTACK_RULE.NULL_VALUE'"
    [itemName]="criticalAttack?.name" (save)="save()" (cancel)="editing = null" (delete)="delete()">

    <owge-widgets-warn-message i18nText="WARN.RULES_ORDER"></owge-widgets-warn-message>
    <div class="form-row" *ngIf="editing">
        <div class="form-group col-md-12">
            <label for="name" class="required">{{ 'CRUD.ATTACK_RULE.MODAL.NAME' | translate }} </label>
            <input [(ngModel)]="editing.name" id="name" class="form-control" />
        </div>
        <div class="form-group cold-md-12">
            <table class="table-primary table" *ngIf="factionFilter">
                <thead>
                    <tr>
                        <th>{{ 'CRUD.ATTACK_RULE.MODAL.TABLE.TARGET' | translate }}</th>
                        <th>{{ 'CRUD.ATTACK_RULE.MODAL.TABLE.TARGET_NAME' | translate }}</th>
                        <th>{{ 'CRUD.CRITICAL_ATTACK.MODAL.TABLE.VALUE' | translate }}</th>
                        <th>{{ 'CRUD.ATTACK_RULE.MODAL.TABLE.ACTIONS' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!editing.entries.length">
                        <td colspan="3">{{ 'CRUD.CRITICAL_ATTACK.MODAL.TABLE.IS_EMPTY' | translate }}</td>
                    </tr>
                    <tr *ngFor="let entry of editing.entries">
                        <td>
                            <select [(ngModel)]="entry.target" (ngModelChange)="selectedTargetChanged(entry)">
                                <option [ngValue]="null">Select...</option>
                                <option *ngFor="let target of ['UNIT','UNIT_TYPE']" [value]="target">
                                    {{ 'CRUD.ATTACK_RULE.MODAL.TABLE.TARGET_TYPE.' + target | translate }}
                                </option>
                            </select>
                        </td>
                        <td>
                            <owge-widgets-filtrable-select *ngIf="entry.target === 'UNIT' && entry.validReferences"
                                [collection]="entry.validReferences" [filters]="factionFilter"
                                (filteredcollection)="entry.filteredValidReferences = $event">
                            </owge-widgets-filtrable-select>
                            <select [(ngModel)]="entry.selectedReference"
                                (ngModelChange)="selectedReferenceChanged(entry)">
                                <option [ngValue]="null">Select</option>
                                <option *ngFor="let validReference of entry.filteredValidReferences"
                                    [ngValue]="validReference">
                                    {{ validReference.name }}
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type="number" [(ngModel)]="entry.value" step="0.25" />
                        </td>

                        <td>
                            <button class="btn-secondary" (click)="removeEntry(entry)">{{
                                'CRUD.ATTACK_RULE.MODAL.TABLE.BTN_DELETE' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn" (click)="addEntry()"><i class="fa fa-plus"></i></button>
        </div>
    </div>
</owge-widgets-choose-item-modal>