<app-modal #reportDetailsModal [hasCloseButton]="true">
  <div class="header">
    Mission to {{ selectedReport?.parsedJson?.targetPlanet?.name }} as of {{ findReportDate(selectedReport) | date:
    commonDateFormat}}
  </div>
  <div class="body">
    <div class="sgt-scrollable-dialog">
      <ng-container *ngIf="selectedReport">
        <h1>Coordinates</h1>
        <div class="card sgt planet-card">
          <div class="card-block">
            <div class="card-title">Source planet</div>
          </div>
          <app-display-single-planet [planet]="selectedReport.parsedJson.sourcePlanet"></app-display-single-planet>
        </div>
        <div class="card sgt planet-card">
          <div class="card-block">
            <div class="card-title">Target planet</div>
          </div>
          <app-display-single-planet [planet]="selectedReport.parsedJson.targetPlanet"></app-display-single-planet>
        </div>
        <h1>Involved units</h1>
        <app-deployed-units-list [obtainedUnits]="selectedReport.parsedJson.involvedUnits"></app-deployed-units-list>
        <ng-container *ngIf="selectedReport.parsedJson.unitsInPlanet">
          <h1>Units in planet</h1>
          <app-deployed-units-list [obtainedUnits]="selectedReport.parsedJson.unitsInPlanet"></app-deployed-units-list>
        </ng-container>
        <ng-container *ngIf="selectedReport.parsedJson.errorText">
          <h1>Error report =/</h1>
          <p class="sgt-base-colors">{{ selectedReport.parsedJson.errorText }}</p>
        </ng-container>
        <ng-container *ngIf="selectedReport.parsedJson.attackInformation">
          <h1>Attack result</h1>
          <div class="card sgt" *ngFor="let currentUser of selectedReport.parsedJson.attackInformation">
            <div class="card-block">
              Username: {{ currentUser.userInfo.username }}
              <br /> Earned points: {{ currentUser.earnedPoints }}
              <div class="user-units"></div>
              <app-units-alive-death-list [units]="currentUser.units"></app-units-alive-death-list>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</app-modal>
<app-loading [isReady]="reports">
  <ng-container *ngIf="reports">
    <div *ngIf="!reports.length" class="sgt-empty-collection">
      No mission reports are available for now
    </div>
    <div class="card sgt" *ngFor="let report of reports">
      <div class="card-block">
        <h5 class="card-title">Mission to {{ report.parsedJson?.targetPlanet?.name }}</h5>
      </div>
      <div class="card-block">
        <p class="card-text">Date: {{ findReportDate(report) | date: commonDateFormat }}</p>
        <p class="card-text">Owner: Find owner NOT implemented =/</p>
      </div>
      <div class="card-block">
        <button (click)="showReportDetails(report)">Show details</button>
      </div>
    </div>
  </ng-container>
</app-loading>