.is-connected {
    z-index: 65535;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    font-size: 14pt;
    text-shadow: 1px 1px 1px black;

    &.connected {
        background-color: green;
    }

    &.not-connected {
        background-color: red;
    }

    &.panic-state {
        background-color: rgb(179, 94, 10);
    }
}

.panic-wrapper {
    z-index: 65533;
    background-color: rgba(255,255,255, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100vw;
    height: 100vh;

    button {
        width: 90vw;
        margin: 0 auto;
    }
    button.btn-clear-data {
        margin-top: calc(50vh - 60px);
    }
    button.btn-reload {
        margin-top: 30px;
    }
}

#twitch-display {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: black;
}

#twitch-display, .twitch-scroll {
    width: 300px;
    min-height: 200px;
}

@media (min-width:768px) and (min-height: 760px) {
    #twitch-display, .twitch-scroll {
        width: 400px;
        height: 300px;
    }
}