<div class="card sgt" *ngIf="userData">
  <div class="card-block">
    <h5 class="card-title">{{ unit.name }}</h5>
  </div>
  <img class="card-img-top" src="{{ image }}" alt="image of the unit">
  <div class="card-block">
    <p class="card-text">{{ unit.description }}</p>
  </div>
  <div class="card-block requirements-attributes">
    <a class="btn" (click)="selectedView = 'requirements'" [ngClass]="{ 'selectedMenu': selectedView === 'requirements'}">Requirements</a>
    <a class="btn" (click)="selectedView = 'attributes'" [ngClass]="{ 'selectedMenu': selectedView === 'attributes'}">Attributes</a>
    <app-display-requirements *ngIf="selectedView === 'requirements'" [requirements]="unit.requirements"></app-display-requirements>
    <ng-container *ngIf="selectedView === 'attributes'">
      <app-display-single-resource *ngIf="unit.health" [resourceName]="'Health'" [resourceValue]="unit.health" [assetsImage]="true"
        [resourceImage]="'health.jpg'"></app-display-single-resource>
      <app-display-single-resource *ngIf="unit.shield" [resourceName]="'Shield'" [resourceValue]="unit.shield" [assetsImage]="true"
        [resourceImage]="'shield.jpg'"></app-display-single-resource>
      <app-display-single-resource *ngIf="unit.attack" [resourceName]="'Attack'" [resourceValue]="unit.attack" [assetsImage]="true"
        [resourceImage]="'attack.jpg'"></app-display-single-resource>
      <app-display-single-resource *ngIf="unit.charge" [resourceName]="'Charge'" [resourceValue]="unit.charge" [assetsImage]="true"
        [resourceImage]="'charge.jpg'"></app-display-single-resource>
    </ng-container>
  </div>

  <ng-container *ngIf="withBuildMode">
    <ng-container *ngIf="building">
      <ng-container *ngIf="building.missionData.unit.id === unit.id ">
        <div class="upgrading-countdown">
          <kgd-countdown *ngIf="building.missionData.terminationDate" [targetDate]="building.missionData.terminationDate" (onDone)="buildDone.emit()"></kgd-countdown>
        </div>
        <a class="btn btn-block" role="button" (click)="cancelUnit()">Cancelar</a>
      </ng-container>
      <a *ngIf="building.missionData.unit.id !== unit.id" class="btn btn-block" role="button" (click)="otherUnitAlreadyRunning()">---</a>
    </ng-container>
    <ng-container *ngIf="!building">
      <input type="number" id="count" name="count" [(ngModel)]="count" placeholder="Cantidad" />
      <a *ngIf="canBuild()" class="btn btn-block" role="button" (click)="buildSelectedUnit()">Construir</a>
      <a *ngIf="!canBuild()" class="btn btn-block" role="button" (click)="noResources()">Sin recursos</a>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="withInPlanetMode">
    <div class="card-block">
      <h5>Cantidad: {{ inPlanetCount }}</h5>
      <input class="number-to-delete" type="number" [(ngModel)]="numberToDelete" placeholder="Delete" [min]="0" [max]="inPlanetCount"
      />
      <a class="btn delete" [ngClass]="{ 'disabled': !isValidDeletion()}" (click)="deleteUnits()">Delete</a>
    </div>
  </ng-container>
</div>