.sgt-card-list.Mission{
    width: auto;
    color: black;
    
    float: left;
    clear: both;
    img{
        width: 56px;
        height: 56px;
    }
    p.sgt-base-colors {
      
    }
    .card{
        float: left;
    }
    .card-block .card-title{
        position:absolute;
        bottom: 25px;
        
        width:50px;
        
        background-color: RGBA(12,41,49,0.5);
    
    }

}
.Mission{
    color:black;
}
.card-block .card-title{
    position:absolute;
    bottom: 25px;
    
    width:50px;
    
    background-color: RGBA(12,41,49,0.5);

}
@media (min-width:768px){
    .sgt-card-list.Mission{
        width: 95%;
        clear: both;
    
        p.sgt-base-colors {
            margin-top: -7px;
        }

    }
}