<div *ngIf="navigationData">
  <label> Galaxia: </label>
  <select [compareWith]="galaxyEquals" [(ngModel)]="selectedGalaxy" (ngModelChanges)="hasChanged()">
    <option *ngFor="let galaxy of navigationData.galaxies" [ngValue]="galaxy">
      {{ galaxy.name }}
    </option>
  </select>
  <ng-container *ngIf="selectedGalaxy">
    <label> Sector: </label>
    <select [(ngModel)]="selectedSector" (ngModelChanges)="hasChanged()">
      <option *ngFor="let sector of createLoop(selectedGalaxy.sectors); let i = index" [value]="i+1">
        {{ i+1 }}
      </option>
    </select>

    <label> Cuadrante: </label>
    <select [(ngModel)]="selectedQuadrant" (ngModelChanges)="hasChanged()">
      <option *ngFor="let quadrant of createLoop(selectedGalaxy.quadrants); let i = index" [value]="i+1">
        {{ i+1 }}
      </option>
    </select>
  </ng-container>

  <button [disabled]="!(selectedGalaxy && selectedSector && selectedQuadrant) && !changed" (click)="navigate()">Navegar</button>
</div>