<app-common-crud-with-image [_crudService]="adminTimeSpecialService" (elementSelected)="selectedEl = $event" [customElementsSource]="elsObservable">
    <ng-template #beforeList>
        <app-requirements-filter [service]="adminTimeSpecialService" (filteredSource)="elsObservable = $event">

        </app-requirements-filter>
    </ng-template>
    <ng-template #modalBody let-newElement>
        <ng-container *ngIf="selectedEl">
            <div class="form-group col-md-6">
                <label for="duration">{{ 'CRUD.TIME_SPECIAL.DURATION' | translate }} </label>
                <input type="number" [(ngModel)]="selectedEl.duration" id="duration" class="form-control"/>
            </div>

            <div class="form-group col-md-6">
                <label for="rechargeTime">{{ 'CRUD.TIME_SPECIAL.RECHARGE_TIME' | translate }} </label>
                <input type="number" [(ngModel)]="selectedEl.rechargeTime" id="rechargeTime" class="form-control"/>
            </div>
            <div class="col-md-12 owge-form-header">{{ 'CRUD.IMPROVEMENTS' | translate }}</div>
            <app-object-improvements-crud [service]="adminTimeSpecialService" [entityId]="selectedEl.id"></app-object-improvements-crud>
            <div class="col-md-12 owge-form-header">{{ 'CRUD.REQUIREMENTS' | translate }}</div>
            <div class="form-group col-md-12">
                <app-object-requirements-crud [service]="adminTimeSpecialService" [entityId]="selectedEl.id" ></app-object-requirements-crud>
            </div>
        </ng-container>
    </ng-template>
</app-common-crud-with-image>