<app-common-crud [hasDescription]="false" [_crudService]="adminSpeedImpactGroupService" (elementSelected)="selectedEl = $event" >
    <ng-template #modalBody let-newElement>
        <ng-container *ngIf="selectedEl">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>{{ 'CRUD.SPEED_IMPACT_GROUP.IS_FIXED' | translate }}</label>
                    <input type="checkbox" class="form-control" [(ngModel)]="selectedEl.isFixed"/>
                </div>
                <div class="form-group col-md-6">
                    <label>{{ 'CRUD.SPEED_IMPACT_GROUP.EXPLORE' | translate }}</label>
                    <input  [disabled]="!selectedEl.isFixed" type="number" class="form-control" [(ngModel)]="selectedEl.missionExplore"/>
                </div>
                <div class="form-group col-md-6">
                    <label>{{ 'CRUD.SPEED_IMPACT_GROUP.GATHER' | translate }}</label>
                    <input [disabled]="!selectedEl.isFixed" type="number" class="form-control" [(ngModel)]="selectedEl.missionGather"/>
                </div>
                <div class="form-group col-md-6">
                    <label>{{ 'CRUD.SPEED_IMPACT_GROUP.ESTABLISH_BASE' | translate }}</label>
                    <input [disabled]="!selectedEl.isFixed" type="number" class="form-control" [(ngModel)]="selectedEl.missionEstablishBase"/>
                </div>
                <div class="form-group col-md-6">
                    <label>{{ 'CRUD.SPEED_IMPACT_GROUP.ATTACK' | translate }}</label>
                    <input [disabled]="!selectedEl.isFixed" type="number" class="form-control" [(ngModel)]="selectedEl.missionAttack"/>
                </div>
                <div class="form-group col-md-6">
                    <label>{{ 'CRUD.SPEED_IMPACT_GROUP.COUNTERATTACK' | translate }}</label>
                    <input [disabled]="!selectedEl.isFixed" type="number" class="form-control" [(ngModel)]="selectedEl.missionCounterattack"/>
                </div>
                <div class="form-group col-md-6">
                    <label>{{ 'CRUD.SPEED_IMPACT_GROUP.CONQUEST' | translate }}</label>
                    <input [disabled]="!selectedEl.isFixed" type="number" class="form-control" [(ngModel)]="selectedEl.missionConquest"/>
                </div>
            </div>
            <div class="form-row">
                <h2 class="owge-base-colors">{{ 'CRUD.SPEED_IMPACT_GROUP.MISSIONS_OUTSIDE_GALAXY' | translate }}</h2>
            </div>
            <app-can-do-missions-crud class="form-row" [element]="selectedEl"></app-can-do-missions-crud>
            <div class="form-row">
                <h2 class="owge-base-colors">{{ 'CRUD.SPEED_IMPACT_GROUP.REQUIREMENT_GROUPS' | translate}}</h2>
            </div>
            <div class="form-row">
                <ng-container *ngIf="selectedEl.id">
                    <app-object-requirement-groups-crud [entityId]="selectedEl.id" [service]="adminSpeedImpactGroupService">

                    </app-object-requirement-groups-crud>
                </ng-container>
            </div>
        </ng-container>
    </ng-template>
</app-common-crud>