<app-modal #missionModal [isOpenOnLoad]="true" [closeOnOverlayClick]="false">
    <div class="header">
        Select universe
    </div>
    <div class="body">
        <form (ngSubmit)="onFormSubmit()" #localForm="ngForm">
            <select (change)="onSelect()" class="form-control" required [(ngModel)]="selectedUniverseIndex" name="selectedUniverse" pattern="^[0-9]$">
                <option value="NaN">No seleccionado</option>
                <option *ngFor="let universe of universes; let i = index;" [value]="i">{{universe.name}}</option>
            </select>
            <!-- Show universe information on selected -->
            <app-display-single-universe [universe]="selectedUniverse"></app-display-single-universe>

        </form>
    </div>
    <div class="footer">
        <button [disabled]="!localForm.form.valid" type="submit" class="btn btn-default" (click)="onFormSubmit()" data-dismiss="modal">Seleccionar</button>
    </div>
</app-modal>
<app-faction-selector *ngIf="showFactionSelector"></app-faction-selector>
<iframe #credentialsFrame *ngIf="safeFrontendUrl" [src]="safeFrontendUrl"></iframe>