<app-common-crud-with-image [_crudService]="adminSpecialLocationService" (elementSelected)="onElementSelected($event)">
    <ng-template #modalBody let-newElement>
        <ng-container *ngIf="selectedEl">

            <div class="form-group col-md-6">
                <label for="target-galaxy">{{ 'CRUD.SPECIAL_LOCATION.TARGET_GALAXY' }}</label>
                <owge-widgets-id-name-dropdown class="form-control" [disabled]="!selectedEl.id" [hasNull]="false" [inputId]="'target-galaxy'" [elementsList]="galaxies" [(model)]="selectedEl.galaxyId"></owge-widgets-id-name-dropdown>
            </div>
            <div class="form-group col-md-6">
                <label for="selected-planet">{{ 'CRUD.SPECIAL_LOCATION.SELECTED_PLANET' }}</label>
                <input class="form-control" [disabled]="true" [(ngModel)]="selectedEl.assignedPlanetName"/>
            </div>

            <div class="col-md-12 owge-form-header">{{ 'CRUD.IMPROVEMENTS' | translate }}</div>
            <app-object-improvements-crud [service]="adminSpecialLocationService" [entityId]="selectedEl.id"></app-object-improvements-crud>
        </ng-container>
    </ng-template>
</app-common-crud-with-image>