@import '../../../../../shared/styles/partials/colors';

img {
    margin: 5px auto;
    box-shadow: inset 0px 0px 10px gold, inset 0px 0px 2px black, 0px 0px 10px silver;
    padding: 5px;
    background-color: $bgColorOther;
}

.desktop-view-header {
    margin-top: 5px;    
    padding: 10px;
    font-size: 13pt;
}

.desktop-view {
    margin: 3px auto;
    margin-top: 0px;

    > div:last-child {
        min-width: 160px;
    }   
}