<owge-widgets-confirmation-dialog #confirmDialog (confirmResult)="cancelUpgrade($event)" [text]="vConfirmDeleteText">

</owge-widgets-confirmation-dialog>

<ng-container *ngIf="userData">
  <!-- mobile view -->
  <div class="card owge mobile-view" *ngIf="!isDesktop">
    <div class="card-block">
      <h5 class="card-title">{{ upgrade.name | hideDuplicatedName }}</h5>
      <h6 *ngIf="obtainedUpgrade" class="card-subtitle text-muted">Nivel {{ obtainedUpgrade.level }}
        <br /> {{ obtainedUpgrade.upgrade.typeName }}</h6>
    </div>
    <img src="{{ image }}" alt="image of the upgrade">
    <div class="card-block upgrade-text">
      <p class="card-text">{{ upgrade.description }}</p>
    </div>
    <ng-container *ngIf="obtainedUpgrade.requirements">
      <div class="card-block Requirements">
        <h5 class="card-title">Requisitos</h5>
        <app-display-requirements [requirements]="obtainedUpgrade.requirements"></app-display-requirements>
      </div>
    </ng-container>

    <ng-container *ngIf="runningUpgrade">
      <ng-container *ngIf="obtainedUpgrade.upgrade.id === runningUpgrade.upgrade.id">
        <div class="upgrading-countdown">
          <app-countdown *ngIf="runningUpgrade.terminationDate" [targetDate]="runningUpgrade.terminationDate"
            (timeOver)="notifyCaller()">
          </app-countdown>
        </div>
        <a class="btn btn-block" role="button" (click)="clickCancelUpgrade()">Cancelar</a>
      </ng-container>
      <a *ngIf="obtainedUpgrade.upgrade.id !== runningUpgrade.upgrade.id" class="btn btn-block" role="button"
        (click)="otherUpgradeAlreadyRunning()">---</a>
    </ng-container>
    <ng-container *ngIf="!runningUpgrade">
      <a *ngIf="obtainedUpgrade.requirements.runnable" class="btn btn-block" role="button"
        (click)="updateSelectedUpgrade(obtainedUpgrade)">Mejorar</a>
    </ng-container>
  </div>

  <!-- desktop view -->
  <ng-container *ngIf="isDesktop">
    <div class="desktop-view-header owge-base-colors">
      <h5>
        {{ upgrade.name | hideDuplicatedName }}
      </h5>
    </div>
    <div class="d-flex desktop-view owge-base-colors" >
      <div class="p-2">
        <div>
          <h6 *ngIf="obtainedUpgrade" class="card-subtitle text-muted">Nivel {{ obtainedUpgrade.level }}
            <br /> {{ obtainedUpgrade.upgrade.typeName }}</h6>
        </div>
        <div>
          <img [src]="image" alt="image of the upgrade">
        </div>
      </div>

      <div class="p-2 flex-grow-1">
        {{ upgrade.description }}
      </div>

      <div class="p-2">
        <div *ngIf="obtainedUpgrade.requirements">
          <app-display-requirements [requirements]="obtainedUpgrade.requirements"></app-display-requirements>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>