<owge-widgets-confirmation-dialog (confirmResult)="cancelUpgrade($event)" [text]="vConfirmDeleteText">

</owge-widgets-confirmation-dialog>

<ng-container *ngIf="userData">
  <owge-widgets-display-list-item [itemName]="upgrade.name" [itemDescription]="upgrade.description" [image]="upgrade.imageUrl"
    [hasToDisplayCountdown]="runningUpgrade && runningUpgrade.upgrade.id === upgrade.id" [countdownDate]="runningUpgrade?.browserComputedTerminationDate"
  >
    <ng-template owgeCoreContent select="extra-header">
      <div>
        <h6 *ngIf="obtainedUpgrade" class="card-subtitle text-muted">{{ 'APP.UPGRADES.LEVEL' | translate: { upgradeLevel: obtainedUpgrade.level } }}
          <br /> {{ obtainedUpgrade.upgrade.typeName }}</h6>
      </div>
    </ng-template>
    <ng-template owgeCoreContent select="action-buttons">
      <a *ngIf="runningUpgrade && obtainedUpgrade.upgrade.id !== runningUpgrade.upgrade.id" class="btn btn-block" role="button"
        (click)="otherUpgradeAlreadyRunning()">
        ---
      </a>
      <ng-container *ngIf="!runningUpgrade">
        <a owgeUniverseOnClickIfWsConnected *ngIf="obtainedUpgrade?.requirements?.runnable" class="btn btn-block do-upgrade" role="button"
          (clickAndConnected)="updateSelectedUpgrade(obtainedUpgrade)">{{ 'APP.UPGRADES.DO_UPGRADE' | translate }}</a>
        <a *ngIf="!obtainedUpgrade?.requirements?.runnable" class="btn btn-block" role="button">{{ 'APP.UPGRADES.NO_ENOUGH_RESOURCES' | translate }}</a>
      </ng-container>
      <a owgeUniverseOnClickIfWsConnected class="btn btn-block cancel-upgrade" *ngIf="runningUpgrade && obtainedUpgrade.upgrade.id === runningUpgrade.upgrade.id" role="button" (clickAndConnected)="clickCancelUpgrade()">{{ 'APP.UPGRADES.CANCEL' | translate }}</a>
    </ng-template>
    <ng-template owgeCoreContent select="extra-section">
      <a class="btn" *ngIf="obtainedUpgrade.requirements"  (click)="selectedView = 'requirements'"
        [ngClass]="{ 'selected-menu': selectedView === 'requirements'}">{{ 'APP.UNITS.DISPLAY_SINGLE.REQUIREMENTS' | translate }}</a>
      <a class="btn" *ngIf="upgrade.improvement" (click)="selectedView = 'improvements'"
        [ngClass]="{ 'selected-menu': selectedView === 'improvements'}">{{ 'APP.UNITS.DISPLAY_SINGLE.IMPROVEMENTS' | translate }}</a>

      <div *ngIf="obtainedUpgrade.requirements && selectedView === 'requirements'">
        <app-display-requirements [requirements]="obtainedUpgrade.requirements"></app-display-requirements>
      </div>
      <owge-widgets-display-improvements *ngIf="selectedView === 'improvements'" 
        [improvement]="upgrade.improvement" [prImage]="userData.faction.primaryResourceImageUrl" 
        [srImage]="userData.faction.secondaryResourceImageUrl" [energyImage]="userData.faction.energyImageUrl"
      ></owge-widgets-display-improvements>
    </ng-template>
</owge-widgets-display-list-item> 
</ng-container>