h5 {
    letter-spacing: 1.7px;
}

.mobile-view.card.owge {
    padding-bottom: 46px;
    a.btn {
        position: absolute;
        bottom: 0px;
        left: 0;
    }
}

.desktop-view-header {
    margin-top: 5px;    
    padding: 10px;
    font-size: 13pt;
}

.desktop-view {
    margin: 3px auto;
    margin-top: 0px;

    > div:last-child {
        min-width: 160px;
    }   
}

@media (max-width: 767px) {
    .upgrading-countdown {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
}