<ng-container *ngIf="navigationData">
  <div class="card owge-quadrant" *ngFor="let planet of navigationData.planets">
    <div class="card-block">
      <h5 class="card-title">
        <i *ngIf="planet.home" class="fa fa-home"></i> {{ planet | planetDisplayName }}</h5>
    </div>
    <img class="card-img-top planet-image" src="{{ findPlanetImage(planet) }}" alt="image of the planet">
    <div class="card-block">
      <p class="card-text planet-actions">
        <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{planet: planet}"></ng-template>
      </p>
    </div>
  </div>
</ng-container>