.resource-data{
    width: 50%;
    float: left;
    
}

.selected-planet i{    
    position: absolute;
    top: 108px;
    right: 55%;
    color: silver;
} 

@media (min-width:768px){

    .resource-data{
        width: 100%;
    }

    .selected-planet i{
        float: left;
        position: relative;
        top: 30px;
        right: -160px;
    } 

    owge-core-modal .planet-card {
        float: left;
    }
}