<owge-core-modal #planetSelectionModal [hasCloseButton]="true">
    <div class="header">
          Select the planet
    </div>
    <div class="body">
          <div *ngFor="let planet of myPlanets" class="card owge planet-card">
                <app-display-single-planet [planet]="planet"></app-display-single-planet>
                <div class="card-block">
                      <a class="owge-btn btn-block" (click)="selectPlanet(planet)">Select</a>
                </div>
                <div class="card-block">
                      <a owgeUniverseOnClickIfWsConnected *ngIf="!planet.home" class="owge-btn btn-block" (clickAndConnected)="leavePlanet(planet)">Leave</a>
                </div>
          </div>
    </div>
</owge-core-modal>
<owge-widgets-sidebar [sidebarRoutes]="menuRoutes">
      <ng-template owgeCoreContent select="extra-button-content" let-route>
            <ng-container *ngIf="route.path === '/reports'">
                  <a *ngIf="userUnreadReports" class="owge-sidebar-menu-btn-overlay-top-left" role="button" routerLink="{{ route.path }}">{{ userUnreadReports }} </a>
                  <a *ngIf="enemyUnreadReports" class="owge-sidebar-menu-btn-overlay-bottom-right" style="color: #F33" role="button" routerLink="{{ route.path }}">{{ enemyUnreadReports }} </a>
            </ng-container>
      </ng-template>
      <div class="body">
            <div class="selected-planet">
                  <app-display-single-planet [planet]="selectedPlanet">
                        <i *ngIf="myPlanets && myPlanets.length > 1" (click)="displayPlanetSelectionModal()" class="fa fa-globe"></i>
                  </app-display-single-planet>
            </div>
            <div *ngIf="user && resources" class="resource-data">
                  <app-display-single-resource [resourceName]="user.faction.primaryResourceName"
                        [resourceImage]="user.faction.primaryResourceImageUrl"
                        [resourceValue]="resources.currentPrimaryResource">

                  </app-display-single-resource>

                  <app-display-single-resource [resourceName]="user.faction.secondaryResourceName"
                        [resourceImage]="user.faction.secondaryResourceImageUrl"
                        [resourceValue]="resources.currentSecondaryResource">

                  </app-display-single-resource>

                  <app-display-single-resource [resourceName]="user.faction.energyName"
                        [resourceImage]="user.faction.energyImageUrl"
                        [resourceValue]="resources.currentEnergy"
                        [resourceMaxValue]="resources.currentMaxEnergy">
                  </app-display-single-resource>

                  <app-display-single-resource *ngFor="let unitType of withLimitUnitTypes"
                        [resourceName]="unitType.name" [resourceImage]="unitType.imageUrl"
                        [resourceValue]="unitType.userBuilt"
                        [resourceMaxValue]="unitType.computedMaxCount">

                  </app-display-single-resource>
                  <app-display-single-resource *ngIf="maxMissions"
                        [resourceName]="'APP.SIDEBAR.MISSIONS_RESOURCE_NAME' | translate"
                        [resourceValue]="missionsCount"
                        [staticImage]="true" [resourceImage]="'ui_icons/mission.png'"
                        [resourceMaxValue]="maxMissions">
                  </app-display-single-resource>
            </div>
      </div>
</owge-widgets-sidebar>