.page-selector .btn {
    color: white;
}

p.owge-theme-base-colors {
    position: relative;
    padding: 20px;
    .fa-info {
        position: absolute;
        top: 5px;
        left: 10px;
    }
}