.sgt-card-list {
    width: 100%;
    clear: both;

    p.sgt-base-colors {
       
    }
}
.Missions{
    background-color: RGBA(12,41,49,1);
    color: silver;
    Margin-top:3px;
}


@media (min-width:768px){
    .sgt-card-list {
        width: 95%;
        clear: both;

        p.sgt-base-colors {
            margin-top: -7px;
        }
    }
}