<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <ng-content select=".header"></ng-content>
                <i *ngIf="hasCloseButton" class="fa fa-close" (click)="hide()"></i>
            </div>
            <div class="modal-body">
                <ng-content select=".body"></ng-content>
            </div>
            <div class="modal-footer">
                <ng-content select=".footer"></ng-content>
            </div>
        </div>
    </div>
</div>