.modal-dialog {
    padding-top: 236px;
    max-width: 800px;
    height: 104%;

    .modal-content {
        height: 100%;
        .modal-header {
                font-size: 24pt;
            font-weight: bold;
        }

        .modal-body {
            height: 100%;
        }
    }
}