<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:component-scan base-package="com.kevinguanchedarias.sgtjava.rest"></context:component-scan>
	<context:component-scan base-package="com.kevinguanchedarias.sgtjava.util"></context:component-scan>
	<context:component-scan base-package="com.kevinguanchedarias.sgtjava.exceptionhandler"></context:component-scan>
	
	<mvc:cors>
		<mvc:mapping path="/**" allowed-origins="http://localhost:4200,http://localhost,http://sgtjava_ci.kevinguanchedarias.com,http://192.168.99.100"/>
	</mvc:cors>
	
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes" value = "text/plain;charset=UTF-8" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
</beans>
