<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.kevinguanchedarias.owgejava.logback.filter.HibernateBugWorkaroundLogbackFilter"/>
        <filter class="com.kevinguanchedarias.owgejava.logback.filter.IgnoreDbSchedulersLogbackFilter"/>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="Console"/>
    </root>
</configuration>
