@import './partials/colors';

input {
    padding: 5px 10px;

    &.owge-base-colors {
        background-color: scale-color($color: $bgColor, $lightness: 10%, $saturation: 7.5%);

        &::placeholder {
            color: #CCC;
            text-align: center;
        }
        &::-ms-input-placeholder {
            color: #CCC;
            text-align: center;
        }
    }
}

select {
    &.owge-base-colors.form-control {
        width: auto;
        height: auto;

        &:hover {
            text-shadow: none;
        }
    }
}

.btn.selected-menu {
    color: $bgColor;
    background-color: $mainColor;
    border: solid 2px $borderColor;
    
    &:hover {
        color: scale-color($color: $bgColor, $saturation: 40%, $lightness: 40%);
    }
}
.owge-card-list {
    flex-wrap: wrap;
}