<owge-core-loading [isReady]="obtainedUnits">
  <button *ngIf="selectable && !areAllSelected" (click)="clickSelectAll()"
    class="btn btn-block owge-theme-base-colors">{{'APP.DEPLOYED_UNIT_LIST.BTN_SELECT_ALL' | translate }}</button>
  <button *ngIf="selectable && areAllSelected" (click)="clickUnselectAll()"
    class="btn btn-block owge-theme-base-colors">{{'APP.DEPLOYED_UNIT_LIST.BTN_UNSELECT_ALL' | translate }}</button>
  <div *ngIf="!showUsername" class="owge-card-list" [ngClass]="{'tiny-imgs': useTiny}">
    <div class="card owge" *ngFor="let currentSelection of selectionStructure, let i = index">
      <div class="card-block card-header-block">
        <div class="card-title owge-theme-background-color-alpha">
          <span *owgeCoreIfTheme="'classic'">{{ currentSelection.obtainedUnit.count }}</span>
          <ng-template owgeCoreIfTheme="neon" *ngIf="currentSelection.obtainedUnit.count">
            <span *ngFor="let num of currentSelection.obtainedUnit.count.toString().split('')">{{ num }}</span>
          </ng-template>
          <owge-widgets-display-image 
            *ngIf="showStoredUnits && currentSelection.obtainedUnit?.storedUnits?.length" 
            (click)="doDisplayStoredUnits(currentSelection.obtainedUnit)"
            image="stored_ico.png" [assetsImage]="true" [isCommonAssetImage]="true" [width]="15" [height]="15">
          </owge-widgets-display-image>
          <owge-widgets-countdown *ngIf="currentSelection.obtainedUnit.temporalInformation"
            [targetDate]="currentSelection.obtainedUnit.temporalInformation.expirationDate"></owge-widgets-countdown>
        </div>
        <img *ngIf="currentSelection.obtainedUnit.unit" [src]="currentSelection.obtainedUnit.unit.imageUrl" />
        <owge-widgets-display-image *ngIf="!currentSelection.obtainedUnit.unit" [assetsImage]="true" [image]="'invisible_unit.png'">
        </owge-widgets-display-image>
      </div>
      <div class="card-block input-count" *ngIf="selectable">
        <input #countInput class="owge-theme-base-colors" min="0" [max]="currentSelection.obtainedUnit.count" type="number"
          [placeholder]="'APP.DEPLOYED_UNIT_LIST.CHOOSE_COUNT' | translate" [ngModel]="currentSelection.selectedCount"
          (change)="selectionChanged(currentSelection, $event)" />
        <span (click)="clickSelectAllOfUnit(currentSelection)"
          class="owge-theme-hover-background-color-alt">
          <i class="fa fa-globe"></i>
        </span>
      </div>
      <div class="card-block stored-units" *ngIf="selectable && currentSelection.obtainedUnit.unit.storageCapacity">
        <owge-widgets-circular-percentage (clickIcon)="doShowStoredUnits(currentSelection)" [size]="40" 
          [percentage]="(currentSelection.usedWeight * 100) / (currentSelection.selectedCount * currentSelection.obtainedUnit.unit.storageCapacity)">
          <owge-widgets-display-image 
            image="stored_ico.png" [assetsImage]="true" [isCommonAssetImage]="true" [width]="27" [height]="27">
          </owge-widgets-display-image>
        </owge-widgets-circular-percentage>
      </div>
    </div>
  </div>
  <ng-container *ngIf="showUsername">
    <div class="owge-card-list" *ngFor="let userUnits of unitsForEachUser">
      <div class="username"> {{ 'APP.DEPLOYED_UNIT_LIST.OWNER_OF_UNITS' | translate: {username: userUnits.username} }}
      </div>
      <div class="card owge" *ngFor="let obtainedUnit of userUnits.obtainedUnits, let i = index">
        <div class="card-block card-header-block">
          <div class="card-title owge-theme-background-color-alpha">
            <span *owgeCoreIfTheme="'classic'">{{ obtainedUnit.count }}</span>
            <ng-template owgeCoreIfTheme="neon">
              <span *ngFor="let num of obtainedUnit.count.toString().split('')">{{ num }}</span>
            </ng-template>
          </div>
          <img *ngIf="obtainedUnit.unit" [src]="obtainedUnit.unit.imageUrl" />
          <owge-widgets-display-image *ngIf="!obtainedUnit.unit" [assetsImage]="true" [image]="'invisible_unit.png'">
          </owge-widgets-display-image>
        </div>
      </div>
    </div>
  </ng-container>
  <div *ngIf="!obtainedUnits || !obtainedUnits.length" class="owge-empty-collection">
    {{ 'APP.UNITS.IN_PLANET.NO_UNITS' | translate }}
  </div>
</owge-core-loading>
<owge-core-modal #ableToStoreUnitModal [hasCloseButton]="true" [extraClasses]="{'stored-unit-modal': true}">
  <div class="header">
    {{ 'APP.DEPLOYED_UNIT_LIST.STORED_UNITS_MODAL.TITLE' | translate: {
      selectedUnitName: currentSelectionForStoring?.obtainedUnit?.unit?.name, count: currentSelectionForStoring?.selectedCount
    } }}
  </div>
  <div class="body" *ngIf="currentSelectionForStoring">
    <p class="owge-theme-base-colors weight-info">
      {{ 'APP.DEPLOYED_UNIT_LIST.STORED_UNITS_MODAL.WEIGHT_INFO' | translate: {
        storageCapacity: currentSelectionForStoring.selectedCount * currentSelectionForStoring.obtainedUnit.unit.storageCapacity,
        usedWeight: currentSelectionForStoring.usedWeight
      } }}
    </p>
    <div class="card owge" *ngFor="let currentSelection of currentSelectionForStoring.storedUnitsSelection, let i = index">
      <div class="card-block card-header-block">
        <div class="card-title owge-theme-background-color-alpha">
          <span *owgeCoreIfTheme="'classic'">{{ currentSelection.obtainedUnit.count }}</span>
          <ng-template owgeCoreIfTheme="neon">
            <span *ngFor="let num of currentSelection.obtainedUnit.count.toString().split('')">{{ num }}</span>
          </ng-template>
          <owge-widgets-countdown *ngIf="currentSelection.obtainedUnit.temporalInformation"
            [targetDate]="currentSelection.obtainedUnit.temporalInformation.expirationDate"></owge-widgets-countdown>
        </div>
        <img *ngIf="currentSelection.obtainedUnit.unit" [src]="currentSelection.obtainedUnit.unit.imageUrl" />
      </div>
      <div class="card-block input-count" *ngIf="selectable">
        <span (click)="clickSelectAllOfUnit(currentSelection)"
              class="owge-theme-hover-background-color-alt">
          <i class="fa fa-globe"></i>
        </span>
        <input #inputForStoringCount class="owge-theme-base-colors" min="0" [max]="currentSelection.obtainedUnit.count" type="number" [ngModel]="currentSelection.selectedCount"
          [placeholder]="'APP.DEPLOYED_UNIT_LIST.CHOOSE_COUNT' | translate" (change)="updateStoredCount(currentSelection,$event)"/>
      </div>
    </div>
  </div>
  <div class="footer">
    <button (click)="clickSaveStoredUnits()" class="btn-primary">{{ 'GLOBAL.BTN_CLOSE' | translate }}</button>
  </div>
</owge-core-modal>
<owge-core-modal #storedUnitDisplayModal [hasCloseButton]="true">
  <div class="header">
    {{ 'APP.DEPLOYED_UNIT_LIST.STORED_UNITS_MODAL.TITLE' | translate: {
      selectedUnitName: unitToDisplayInStoredUnits?.unit?.name, count: unitToDisplayInStoredUnits?.count
    } }}
  </div>
  <div class="body">
    <app-deployed-units-list *ngIf="showStoredUnits && unitToDisplayInStoredUnits" [obtainedUnits]="unitToDisplayInStoredUnits.storedUnits"></app-deployed-units-list>
  </div>
</owge-core-modal>