<owge-core-loading [isReady]="obtainedUnits">
  <div class="owge-card-list" [ngClass]="{'tiny-imgs': useTiny}">
    <div class="card owge" *ngFor="let obtainedUnit of obtainedUnits, let i = index">
      <div class="card-block card-header-block">
        <div class="card-title">
          <span>
            {{ obtainedUnit.count }}
          </span>
        </div>
        <img [src]="findUnitImageUrl(obtainedUnit.unit)" />
      </div>
      <div class="card-block" *ngIf="selectable">
        <input class="owge-base-colors" min="0" [max]="obtainedUnit.count" type="number" placeholder="Select count" [(ngModel)]="selectedCounts[i]" (ngModelChange)="selectionChanged()"/>
      </div>
    </div>
    <div *ngIf="!obtainedUnits || !obtainedUnits.length" class="owge-empty-collection">
      There are no units in the planet
    </div>
  </div>
</owge-core-loading>