<div *ngIf="userData">
  <app-display-single-resource [limitedMax]="limitedMax" [resourceName]="userData.faction.primaryResourceName"
    [resourceImage]="userData.faction.primaryResourceImageUrl" [resourceValue]="requirements.requiredPrimary">
  </app-display-single-resource>
  <app-display-single-resource [limitedMax]="limitedMax" [resourceName]="userData.faction.secondaryResourceName"
    [resourceImage]="userData.faction.secondaryResourceImageUrl" [resourceValue]="requirements.requiredSecondary">
  </app-display-single-resource>
  <app-display-single-resource [limitedMax]="limitedMax" *ngIf="requirements.requiredEnergy"
    [resourceName]="userData.faction.energyName" [resourceImage]="userData.faction.energyImageUrl"
    [resourceValue]="requirements.requiredEnergy"></app-display-single-resource>
  <div *ngIf="parsedRequiredTime"
    class="time owge-theme-mix-color owge-theme-box-shadow owge-theme-background-01 owge-theme-border-01-small">
    <app-display-dynamic-image [image]="timeImage" [title]="'Time'" [customClass]="'resourceImage'"
      [staticImage]="true"></app-display-dynamic-image>
    <p [class.limited-max]="limitedMax" class="owge-theme-text-shadow">
      <span *ngIf="parsedRequiredTime.days">{{ parsedRequiredTime.days }}d</span>
      <span *ngIf="parsedRequiredTime.hours">{{ parsedRequiredTime.hours }}h</span>
      <span *ngIf="parsedRequiredTime.minutes">{{ parsedRequiredTime.minutes }}m</span>
      <span *ngIf="parsedRequiredTime.seconds">{{ parsedRequiredTime.seconds }}s</span>
    </p>
  </div>
</div>