@import '../../partials/colors';

@mixin owge-sidebar-menu-btn-overlay {
    position: absolute;
    font-size: 8pt;
    padding: 1px 3px;
    background-color: $bgColor;
    color: white;
    border: 1px solid $borderColor;
    width: auto;
}
.owge-sidebar-menu-btn-overlay-top-left {
    @include owge-sidebar-menu-btn-overlay();
    top: 6px;
    left: 8px;
    border-top-left-radius: 13px;
}

.owge-sidebar-menu-btn-overlay-bottom-right {
    @include owge-sidebar-menu-btn-overlay();
    bottom: 6px;
    right: 0px;
    border-bottom-right-radius: 13px;
}

@media (min-width:768px) and (min-height:760px) {
    .owge-side-bar-root {
        .owge-sidebar-menu-btn-overlay-top-left {
            width: auto;
            margin-left: 0px;
        }
        .owge-sidebar-menu-btn-overlay-bottom-right {
            width: auto;
        }
    }
}