<owge-widgets-confirmation-dialog #modal [text]="'Deleting caches, forces all users to download the content again'" (confirmResult)="confirmDelete($event)"></owge-widgets-confirmation-dialog>
<button (click)="modal.show()" class="owge-base-colors">DROP USER CACHES!!!!!!</button>
<button (click)="notifyFrontendVersionUpdate()" class="owge-base-colors">Notify frontend version update</button>
<button [disabled]="runningHangMissions" (click)="runHangMissions()" class="owge-base-colors btn btn-block">Run hang missions</button>
<button (click)="clickSendSystemMessage()" class="owge-base-colors btn btn-block">Send system message</button>