server{
    server_name owgejava.kevinguanchedarias.com        
    listen 80;
	
	include /etc/nginx/include/cloudflare_real_ip.inc;

	location /game_api/ {
		include /etc/nginx/include/configuracion_proxy.inc;
		proxy_pass http://${OWGE_BACKEND_SERVER}/${OWGE_REST_CONTEXT_PATH}/;
		proxy_cookie_path ~*^/.* /;
	}

	location /websocket/ {
		proxy_pass http://${OWGE_WS_SERVER}/;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "Upgrade";
		proxy_set_header Host $host;
	}

	location /admin/ {
		include /etc/nginx/include/configuracion_proxy.inc;
		proxy_pass http://${OWGE_ADMIN_FRONTEND_SERVER};
		proxy_cookie_path ~*^/.* /;

	}

	location /account/ {
		include /etc/nginx/include/configuracion_proxy.inc;
		proxy_pass http://${OWGE_ACCOUNT_SERVER}/;
	}

	location /phpmyadmin/ {
		include /etc/nginx/include/configuracion_proxy.inc;
		proxy_pass http://${OWGE_NGINX_PHPMYADMIN_SERVER}/;
	}

	location /static/ {
		root /var/owge_data/;
		index fake;
	}

	location /dynamic/ {
		root /var/owge_data/;
		index fake;
	}

	location / {
		root /var/www;
		try_files $uri @frontendsvr;
	}

	location @frontendsvr {
		include /etc/nginx/include/configuracion_proxy.inc;
		proxy_pass http://${OWGE_FRONTEND_SERVER};
	}
}
