<Context>
	<Resource name="jdbc/sgtjava" auth="Container" type="javax.sql.DataSource"
                maxActive="10" maxIdle="3" maxWait="10" username="SGTu4"
                validationQuery="SELECT 1"
                testOnBorrow="true"
                testOnConnect="true"
                testWhileIdle="true"
                logValidationErrors="true"
                password="StrongestOneill" driverClassName="com.mysql.jdbc.Driver"
                url="jdbc:mysql://10.74.32.252:3306/sgalactica_java" />
</Context>
