html, body {
        margin: 0;
        padding: 0;
}

body {
        background-repeat: repeat;
        background-size: 200px auto;
}

a, img {
        border: none;
        text-decoration: none;
}

body .ui-layout-unit .ui-layout-unit-content{
    overflow: visible;
}

.ui-widget-content {
    border-color: #888;
}

.root-layout {
        position: static;
}

.root-layout > div {
        border-width: 0;
}

.homepage-menu {
        position: fixed;
        min-height: 95vh;
}

.homepage-menu .ui-layout-unit-content{
	min-height: inherit;
}

.homepage-menu  a {
        display: block;
}

.homepage-menu img{
    width: 100%;
}
.homepage-menu ui-layout-unit-content {
        display: none;
        overflow: hidden;
}

.homepage-menu .ui-menu.ui-widget {
        border-width: 0;
}

.homepage-content, .homepage-content>div {
        background-color: transparent;
}

.homepage-content>div {
        overflow: visible;
        overflow-y: visible;
}

.mobile {
        display: block;
        font-size: 1.6em;
        margin: 10px 0;
        text-align: center;
        /*border-right: 2px solid #448;*/
}

.numeric-input{
    float: right;
    text-align: right;
}

.requirements-data-table .ui-datatable-tablewrapper {
    overflow: hidden;
}