<div *ngIf="universe">
  <table>
    <tr>
      <th>Nombre:</th>
      <td>{{ universe.name }}</td>
    </tr>

    <tr *ngIf="universe.creator">
      <th>Creador:</th>
      <td>{{ universe.creator }}</td>
    </tr>

    <tr>
      <th>Creación:</th>
      <td>{{ universe.creationDate | date:'dd/MM/yyyy' }}</td>
    </tr>

    <tr>
      <th colspan="2">Público
        <span *ngIf="universe.isPublic"><i class="fa fa-check"></i></span>
        <span *ngIf="!universe.isPublic"><i class="fa fa-close"></i></span>
      </th>
    </tr>
    <tr>
      <th colspan="2">Oficial
        <span *ngIf="universe.official"><i class="fa fa-check"></i></span>
        <span *ngIf="!universe.official"><i class="fa fa-close"></i></span>
      </th>
    </tr>
    <tr>
      <th colspan="2">Descripción</th>
    </tr>
    <tr>
      <td colspan="2">{{ universe.description }}</td>
    </tr>
  </table>
</div>