<div *ngIf="navigationData" class="row">
  <div class="col-xs-3 form-group">
    <label> {{ 'APP.NAVIGATION_CONTROLS.GALAXY' | translate }}: </label>
    <select class="owge-base-colors form-control" [compareWith]="galaxyEquals" [(ngModel)]="selectedGalaxy" (ngModelChanges)="hasChanged()">
      <option *ngFor="let galaxy of navigationData.galaxies" [ngValue]="galaxy">
        {{ galaxy.name }}
      </option>
    </select>
  </div>
  <ng-container *ngIf="selectedGalaxy">
    <div class="col-xs-3 form-group">
      <label> {{ 'APP.NAVIGATION_CONTROLS.SECTOR' | translate }}: </label>
      <select class="owge-base-colors form-control" [(ngModel)]="selectedSector" (ngModelChanges)="hasChanged()">
        <option *ngFor="let sector of createLoop(selectedGalaxy.sectors); let i = index" [value]="i+1">
          {{ i+1 }}
        </option>
      </select>
    </div>
    <div class="col-xs-3 form-group">
      <label> {{ 'APP.NAVIGATION_CONTROLS.QUADRANT' | translate }}: </label>
      <select class="owge-base-colors form-control" [(ngModel)]="selectedQuadrant" (ngModelChanges)="hasChanged()">
        <option *ngFor="let quadrant of createLoop(selectedGalaxy.quadrants); let i = index" [value]="i+1">
          {{ i+1 }}
        </option>
      </select>
    </div>    
  </ng-container>
  <div class="col-xs-3 form-group">
    <button class="btn btn-primary" [disabled]="!(selectedGalaxy && selectedSector && selectedQuadrant) && !changed" (click)="navigate()">{{ 'APP.NAVIGATION_CONTROLS.BTN_NAVIGATE' | translate }}</button>
  </div>
</div>