div.well{
    height: 250px;
} 

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.loginContainer{
    .input-group{
        margin-bottom: -2px;
    }
    .input-group + .input-group span{
        padding-right: 14px;
    }
    .form-control{
        min-width: 200px;
    }
    button,.loginActions{
        min-width: 240px;
    }
    .loginActions{
        min-height: 60px;
        background-color: buttonface;
        border-radius: 4px;
        padding: 6px;
        a:first-child{
            float: left;
        }
        a ~ a{
            float: right;
            margin-right: 10px;
        }
    }
}

.Absolute-Center.is-Responsive {
    width: 50%; 
    height: 50%;
    min-width: 200px;
    max-width: 430px;
    padding: 50px;
}

#logo-container{
    margin-left: 17px;   
    margin-bottom: 0px;
    width:240px;
    height:80px;
    background-image:url('/assets/img/logo.jpg');
}