<app-mission-modal #missionModal></app-mission-modal>
<app-loading [isReady]="navigationData && navigationConfig">
  <div class="owge-base-colors navigation-controls">
    <app-navigation-controls *ngIf="navigationData" [navigationData]="navigationData" [navigationConfig]="navigationConfig"
      (onNavigation)="changePosition($event)"></app-navigation-controls>
  </div>
  <div class="owge-base-colors navigation-controls" *ngIf="navigationConfig && navigationData">
    Coordenadas actuales Galaxia:
    <b>{{ findSelectedGalaxyName() }}</b>, Sector:
    <b>{{ navigationConfig.sector }}</b>, Cuadrante:
    <b>{{ navigationConfig.quadrant }}</b>
  </div>
  <div *ngIf="navigationData">
    <app-planet-selector [navigationData]="navigationData">
      <ng-template let-planet="planet">
        <img [src]="findUiIcon('mission.png')" title="Enviar misión" (click)="sendMission(planet)" />
      </ng-template>
    </app-planet-selector>
  </div>
</app-loading>