<app-mission-modal [hasCloseButton]="true" #missionModal></app-mission-modal>
<owge-galaxy-planet-list-add-edit-modal #addEditModal [addingOrEditing]="addingOrEditing">

</owge-galaxy-planet-list-add-edit-modal>
<owge-core-loading [isReady]="navigationData && navigationConfig">
  <div class="owge-base-colors navigation-controls">
    <app-navigation-controls *ngIf="navigationData" [navigationData]="navigationData" [navigationConfig]="navigationConfig"
      (onNavigation)="changePosition($event)"></app-navigation-controls>
  </div>
  <h4 class="display-quadrant owge-base-colors">{{ 'APP.DISPLAY_QUADRANT.CURRENT_COORDINATES' | translate}}</h4>
  <div class="owge-base-colors display-quadrant navigation-status row" *ngIf="navigationConfig && navigationData">
    
    <div class="col-xs-4"><div>{{ 'APP.DISPLAY_QUADRANT.GALAXY' | translate}}:</div> <div class="value">{{ findSelectedGalaxyName() }}</div></div>
    <div class="col-xs-4"><div>{{ 'APP.DISPLAY_QUADRANT.SECTOR' | translate}}:</div> <div class="value">{{ navigationConfig.sector }}</div></div>
    <div class="col-xs-4"><div>{{ 'APP.DISPLAY_QUADRANT.QUADRANT' | translate}}:</div> <div class="value">{{ navigationConfig.quadrant }}</div></div>
  </div>
  <div *ngIf="navigationData">
    <app-planet-selector [navigationData]="navigationData" [class]="isFullWidth ? 'full-width' : 'in-content'">
      <ng-template let-planet="planet">
        <img [src]="'mission.png' | uiIcon" [title]="'APP.DISPLAY_QUADRANT.TOOLTIP_SEND_MISSION' | translate" (click)="sendMission(planet)" />
        <a href="javascript:void(0)"(click)="addEdit(planet)" ><i class="fa action" [class.fa-pen]="planetList[planet.id]" [class.fa-plus-circle]="!planetList[planet.id]"></i></a>
      </ng-template>
    </app-planet-selector>
  </div>
</owge-core-loading>