<app-mission-modal #missionModal></app-mission-modal>
<owge-core-loading [isReady]="navigationData && navigationConfig">
  <div class="owge-base-colors navigation-controls">
    <app-navigation-controls *ngIf="navigationData" [navigationData]="navigationData" [navigationConfig]="navigationConfig"
      (onNavigation)="changePosition($event)"></app-navigation-controls>
  </div>
  <h4 class="display-quadrant owge-base-colors">Coordenadas actuales</h4>
  <div class="owge-base-colors display-quadrant navigation-status row" *ngIf="navigationConfig && navigationData">
    
    <div class="col-xs-4"><div>{{ 'APP.DISPLAY_QUADRANT.GALAXY' |translate}}:</div> <div class="value">{{ findSelectedGalaxyName() }}</div></div>
    <div class="col-xs-4"><div>{{ 'APP.DISPLAY_QUADRANT.SECTOR' |translate}}:</div> <div class="value">{{ navigationConfig.sector }}</div></div>
    <div class="col-xs-4"><div>{{ 'APP.DISPLAY_QUADRANT.QUADRANT' |translate}}:</div> <div class="value">{{ navigationConfig.quadrant }}</div></div>
  </div>
  <div *ngIf="navigationData">
    <app-planet-selector [navigationData]="navigationData" [class]="isFullWidth ? 'full-width' : 'in-content'">
      <ng-template let-planet="planet">
        <img [src]="'mission.png' | uiIcon" title="Enviar misión" (click)="sendMission(planet)" />
      </ng-template>
    </app-planet-selector>
  </div>
</owge-core-loading>