app-display-quadrant {    
    app-planet-selector {
        .planet-actions {
            a {
                margin-left: 5px;
                margin-bottom: 7px;
            }
            img {
                margin-top: 3px;
            }
        }
    }
}