<div *ngIf="unitRequirements" class="sgt-card-list units">
  <ng-container *ngFor="let unit of unitRequirements">
    <div #cardRoot *ngIf="isOfTypeOrNullFilter(unit.unit)" class="card sgt auto-expand">
      <div class="card-block">
        <div class="card-title">
          <span class="auto-expand">
            {{ unit.unit.name }}
          </span>
        </div>
      </div>
      <img class="card-img-top" [src]="findUnitImageUrl(unit.unit)" />
      <div class="card-block">
        <div class="sgt-card-list upgrades">
          <div class="sgt card" *ngFor="let upgradeRequirement of unit.requirements" [ngClass]="{ 'sgt-green-shadow' : upgradeRequirement.reached, 'sgt-red-shadow' : !upgradeRequirement.reached}">
            <img class="" [src]="findUpgradeImageUrl(upgradeRequirement.upgrade)" />
            <div class="upgrade-level">Lvl {{ upgradeRequirement.level }}</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>