.owge-card-list.units{
    width: 100;
}
.owge-card-list.upgrades {
    > .card.owge {
       
        width: 57px;
        height: 74px;
        padding: 2px;
        float: left;
    }
    .upgrade-level {
        text-align: center;
    }
}
@media (min-width:768px){
    .owge-card-list.units{
        width: auto;
    }

    .owge-card-list.units > .card.owge  {
        height: 208px;
        padding: 2px;
        width: auto;
        .card-title {
            text-align: center;
        }

        > img {
            width: 85px;
            height: 85px;
        }
    }

    .owge-card-list.upgrades {
        > .card.owge {
            position: relative;
            width: 57px;
            height: 74px;
            padding: 2px;
        }
        .upgrade-level {
            text-align: center;
        }
    }
}